<ng-container *ngIf="products.length != 0">
    <div class="container">
        <div class="cart-table">
            <div class="cart-prodcut">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products, let i = index">
                            <td>{{i + 1}}</td>
                            <td style="width: 25%">{{product.name}}</td>
                            <td><img src="{{product.image}}" style="width: 100%;
                                height: 170px; border-radius: 10px;"></td>
                            <td style="width: 12%">{{product.price}}</td>
                            <td style="width: 12%">{{product.quantity}}</td>
                            <td style="width: 12%">{{product.total}}</td>
                            <td><button class="btn" (click)="removeProduct(product)">Delete</button></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button class="btn-danger" (click)="emptyCart()"
                                style="padding: 10px 30px; background-color: #FF3333; border-radius: 3px; 
                                border: none; cursor: pointer; font-size: 14px; color: #fff; font-weight: bold;"
                                >Empty Cart</button></td>
                            <td><button 
                                style="padding: 10px 30px; background-color: #0000FF; border-radius: 3px; 
                                border: none; cursor: pointer; font-size: 14px; color: #fff; font-weight: bold;"
                                class="btn-primary" routerLink="../products">Shop More</button></td>
                            <td><button class="btn-success"
                                style="padding: 10px 30px; background-color: #008800; border-radius: 3px; 
                                border: none; cursor: pointer; font-size: 14px; color: #fff; font-weight: bold;" routerLink="../checkout"
                                >Checkout</button></td>
                            <td><strong>Grand Total: đ{{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h2 id="cart-title">My Cart</h2>
        </div>
        <div class="center">
            <i class="fa-solid fa-face-frown"></i>
            <h3>Giỏ hàng của bạn đang trống (Your cart is empty)</h3>
            <button routerLink="../products" id="link">Shop Now</button>
        </div>
    </div>
</ng-container>