<div class="content">
    <div class="banner">
        <div class="text-title-banner">
            <i class="fa-solid fa-utensils" style="color: #fff"></i>
            <a routerLink="../products" id="get-started">Get Started</a>
        </div>
        <!-- <p class="title-banner">get your favorite meal<br> in a click.</p>
    <p id="title-banner2">just me enjoying quality meals here.</p> -->
    </div>
    <div class="container">
        <p id="title-banner">get your favorite meal<br> in a click.</p>
        <!-- <p id="title-banner2">just me enjoying quality meals here.</p> -->
        <div class="button">
            <a href="#"><button type="button" id="download-btn">dowload</button></a>
            <a><button type="button" id="order-btn" routerLink="../products">order now</button></a>
        </div>
        <div class="introduct">
            <img id="image-container" src="../../../assets/image/foodie-1.png">
            <!-- <div id="title-container">
            <p id="start-order-in-foodnow">start order in foodnow.</p>
        </div> -->
        </div>
        <!-- <router-outlet></router-outlet> -->

    </div>
</div>