/* You can add global styles to this file, and also import other style files */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
input{
  color: black;
}
body {
  background-color: #111111;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
