<div class="container">
    <div class="left">
        <form>

            <div class="row">
                <div class="col-50">
                    <form class="form-group" [formGroup]="checkoutForm" (ngSubmit)="completePurchase();">
                        <div class="user-details">
                            <label class="details">FULLNAME</label>
                            <input type="text" formControlName="fullName" placeholder="Please enter your name"
                                required><br>
                            <div class="mes-err">
                                <span class="text-danger"
                                    *ngIf="checkoutForm.controls['fullName'].dirty && checkoutForm.hasError('required', 'fullName')">*
                                    * please enter your name</span>
                            </div>
                            <label class="details">PHONE NUMBER</label>
                            <input type="text" formControlName="phoneNumber"
                                placeholder="Please enter your phone number" required>
                            <div class="mes-err">
                                <span class="text-danger"
                                    *ngIf="checkoutForm.controls['phoneNumber'].dirty && checkoutForm.hasError('required', 'phoneNumber')">*
                                    * please enter your phone number</span>
                            </div>
                            <label class="details">ADDRESS</label>
                            <input type="text" formControlName="address" placeholder="Please enter your address"
                                required>
                            <div class="mes-err">
                                <span class="text-danger"
                                    *ngIf="checkoutForm.controls['address'].dirty && checkoutForm.hasError('required', 'address')">*
                                    please enter your address</span>
                            </div>
                            <label class="details">CITY</label>
                            <select style="width: 100%; color: #333; border-radius: 10px; height: 45px;">
                                <option style="width: 100%; color: black;" *ngFor="let city of cityData"
                                    [value]="city.value">
                                    {{city.name}}</option>
                            </select>
                            <span *ngIf="errorFormNull" class="text-danger"> {{errorFormNull}} </span>
                        </div>
                        <div class="button"
                            style="display: flex; flex-wrap: wrap; margin-top: 10px; justify-content: center; align-items: center;">
                            <button type="submit" class="btn btn-primary">Complete Purchase</button>
                            <button routerLink="../cart"
                                style="background-color: #008800; color: #fff; margin-left: 20px; font-weight: bold;">Back
                                to cart</button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <div class="right">
        <h4 style="border-bottom: 1px solid #fff; padding-bottom: 10px;">Your Cart
            <i class="fa-solid fa-cart-circle-check"></i>
        </h4>
        <p style="margin: 20px; border-bottom: 1px solid #fff; padding-bottom: 10px;" *ngFor="let item of productCart">
            <a style="margin: 10px; border-right: 1px solid #fff; padding-right: 5px;">{{item.name}}</a>
            x{{item.quantity}}<span style="margin: 10px; border-left: 1px solid #fff; padding-left: 5px;"
                class="price">đ{{item.price * item.quantity}}đ</span>
        </p>
        <!-- <p><a href="#">Product 2</a> <span class="price">$5</span></p>
        <p><a href="#">Product 3</a> <span class="price">$8</span></p>
        <p><a href="#">Product 4</a> <span class="price">$2</span></p> -->
        <p>Total <span class="price" style="color:black"><b>{{totalPrice}}đ</b></span></p>
    </div>
</div>